{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block content %}
    <p>Add Comment to Post: {{ post.getTitle() }}</p>

    <form action="{{ path('add_comment', {'postId' : post.getId()}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Add" />
    </form>
{% endblock %}