{% extends '::layout.html.twig' %}

{% block content %}
    <p>Edit Comment</p>

    <form action="{{ path('edit_comment', {'id' : comment.getId()}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Update" />
    </form>
{% endblock %}