/* For ie; how cute */
section, article, aside, footer, header, nav, hgroup {
    display: block;
}

body {
    font: 16px helvetica, arial, sans-serif;
    line-height: 1.6;
}

a {
    color: #369;
}

h1 {
    font-size: 26px;
    margin:  0;
    padding:  0;
}

h2 {
    font-size: 24px;
    margin:  0;
    padding:  0;
}

h3 {
    font-size: 18px;
    margin:  0;
    padding:  0;
}

body > header {
    border-bottom: 1px solid #ccc;
    margin: 0 auto 20px;
    overflow: hidden;
    padding-top: 20px;
    width: 940px;
}

body > header h1 {
    float: left;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 0 5px;
}

body > header h1 img {
    height: 30px;
    padding-right: 10px;
}

body > header h1 a {
    color: #147;
    text-decoration: none;
}

body > section {
    margin: 0 auto;
    overflow: hidden;
    width: 940px;
}

section h1 {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
    color: #555;
}

section h1.light {
    color: #999;
}

section h1.light strong {
    color: #555;
}

body > footer {
    border-top: 1px solid #ccc;
    clear: both;
    font-size: 14px;
    margin: 20px auto;
    padding-top: 5px;
    text-align: right;
    width: 940px;
}

aside > section {
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
}

aside > section:last-child {
    margin-bottom: 0;
}

aside div {
    overflow: hidden;
    width: 100%;
}

aside > section h2 {
    color: #555;
    font-size: 22px;
    padding-bottom: 10px;
}

aside > section h3 {
    color: #555;
}

aside > section p {
    color: #222;
    font-size: 14px;
}

aside > section > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

body.split > section > section {
    float: left;
    width: 600px;
}

body.split aside {
    float: right;
    width: 320px;
}

ul.fancy {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.fancy li {
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding: 7px 0 5px;
}

ul.fancy li h3 {
    line-height: 1.2;
}

ul.fancy li:hover {
    background-color: #f9f9f9;
}

ul.fancy li:last-child {
    margin-bottom: 0;
}

aside ul.fancy li {
    border-color: #fbfbfb;
}

aside ul.fancy li:hover {
    background-color: transparent;
}

aside ul.fancy li:last-child {
    border: none;
    padding-bottom: 0;
}

.button {
    background-color: #258;
    border: 1px solid #258;
    border-radius: 10px;
    color: #f0f0f0;
    display: block;
    float: left;
    line-height: 1.2;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #147;
}

ul.pagination {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

ul.pagination li {
    display: inline;
    font-size: 13px;
    margin: 0;
    padding: 0 5px 0 0;
}

ul.pagination li:last-child {
    padding-right: 0;
}

ul.pagination li a {
    text-decoration: none;
}

ul.pagination li a:hover {
    text-decoration: underline;
}

.comment {
    font-size: 14px;
}

.post .comment {
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.post .options {
    color: #999;
    font-size: 12px;
}

.post .options a {
    color: #999;
    text-decoration: none;
}

.post .options a:hover {
    text-decoration: underline;
}

#category {
    background-color: #f6f6f6;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
}

#category h2 {
    color: #444;
    font-size: 22px;
    line-height: 1;
}

.form {
    background-color: #f6f6f6;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

.form h2 {
    border-bottom:  1px dotted #ccc;
    color: #333;
    padding-bottom: 5px;
}

.form fieldset {
    border: none;
    border-bottom:  1px solid #ccc;
    margin: 0;
    padding: 20px 0 0;
}

.form label {
    display: block;
}

.form input[type='text'],
.form textarea,
.form select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 8px 5px;
    width: 588px;
}

.form select {
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0 0 20px;
    width: 600px;
}

.form textarea {
    height: 200px;
}

.form fieldset.options {
    border-bottom: none;
    letter-spacing: 1px;
    padding-bottom: 0;
}

.form fieldset.options input[type='submit'] {
    background-color: #ccc;
    border: 1px solid #555;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 38px;
    padding:  0 20px;
}

.simple_form input[type='text'],
.simple_form textarea,
.simple_form select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
    padding: 8px 5px;
    width: 588px
}

.simple_form select {
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0;
    width: 600px;
}

.simple_form textarea {
    height: 100px;
}

.simple_form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.simple_form fieldset:first-child {
    margin-top: 20px;
}

.simple_form fieldset.options input[type='submit'] {
    background-color: #ccc;
    border: 1px solid #555;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
    margin:  0;
    padding: 0 10px;
}

#add_comment {
    margin-bottom: 20px;
}

.comments {
    font-size: 12px;
    padding: 15px 0 0 5px;
}

.comment {
    padding: 10px 0;
}

.comment .author {
    color: #aaa;
    font-size: 12px;
}

.comment .author a {
    color: #888;
    text-decoration: none;
}

.comment .author a:hover {
    text-decoration: underline;
}

.comment .content {
    padding-left: 10px;
}

.login_required {
    font-size: 12px;
    padding: 20px 0;
}

.login_required a {
    text-decoration: none;
}

.login_required a:hover {
    text-decoration: underline;
}