{% extends '::layout.html.twig' %}

{% block content %}
    <p>Add Category</p>

    <form action="{{ path('add_category') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Add" />
    </form>
{% endblock %}