{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block content %}

    <section id="categories">
        <ul class="fancy">
        {% for category in categories %}
            <li id="category-{{ category.getId() }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
                <a href="{{ path('view_category', { 'id': category.getId() }) }}">{{ category.getName() }}</a>
            </li>
        {% else %}
            <li class="empty">
                <p>There are no categories to view.</p>
            </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}