{% extends 'EpixaTalkfestBundle::layout.html.twig' %}

{% block content %}

    {% for category in categories %}
        <section id="category-{{ category.getId() }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
            <a href="{{ path('view_category', { 'id': category.getId() }) }}">{{ category.getName() }}</a>
        </section>
    {% else %}
        <section id="no-categories">
            <p>There are no categories to view.</p>
        </section>
    {% endfor %}
        
{% endblock %}